.loader-container{
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 1070;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 25px solid #f3f3f3; /* Light grey */
    border-top: 25px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    margin: 100px auto;
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

textarea.materialize-textarea{
    height: 10em;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.email:hover{
    text-decoration: underline;
}

.footer-title{
    text-decoration: underline;
}

@keyframes open-nav {
    0%{
        opacity: 0;
        top: -100px;
    }
    100%{
        opacity: 1;
        top:0;
    }
}

@keyframes close-nav {
    0%{
        opacity: 1;
        top: 0;
    }
    100%{
        opacity: 1;
        top: -100px;
    }
}
#main-nav.open{
    animation: open-nav 1s;
    opacity: 1;
    top: 0;
}

#main-nav.close{
    animation: close-nav 1s;
    opacity: 0;
    top: -100px;
}

.add_to_cart {
    cursor: pointer;
}


.card-dish:hover i.hover{
    opacity: 1;
    transition: 0.5s ease
}
.card-dish:hover{
    transition: 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 5px #039be5 inset;
}
i.hover {
    opacity: 0;
}
@keyframes appearing {
    0% { opacity: 0; margin-top: 50px }
    100% { opacity: 1; margin-top: 0 }
}
.card{
    animation: appearing 1s;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin:0;
}