body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 28px;
}

@keyframes btn-hover {
    0% { color: firebrick; border-color: firebrick; }
    50% { color: darkred; border-color: darkred; }
    100% { color: firebrick; border-color: firebrick; }
}

.btn:hover {
    animation: btn-hover 1s infinite
}