{% macro materialize(input, error = true, disabled = false) %}
    <div class="row">
        <!-- /.row -->
        <div class="input-field col s12">
            {{ form_widget(input, { 'attr' : {'readonly': disabled} }) }}
            {{ form_label(input) }}
            {% if error %}
                <span class="helper-text" style="color: red">{{ form_errors(input) }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}