{% extends "back.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block main %}
    <div class="padding-top">
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                {{ form(form) }}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="save-sort-btn" class="btn btn-warning">Save Sorting</button>
                            <!-- /.btn btn-default -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                    <ul id="categories-list" class="list-group sortable padding-top">
                        {% for item in categories %}
                            <li target-id="{{ item.id }}" class="ui-state-default list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                <span>{{ item.name }}</span>
                                <div style="float: right">
                                    <button need-confirmation="true" class="btn btn-danger delete-item btn-xs" target-id="{{ item.id }}"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel panel-default -->
    </div>
    <!-- /.padding-top -->
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script>
        $(function(){

            $('#categories-list').on('click', '.delete-item', function(e) {
                let button = $(this);
                $.ajax({
                    url: Routing.generate('admin_category_delete', {'id':$(this).attr('target-id')}),
                    method: 'DELETE',
                    success: function(data) {
                        button.parents('li').remove();
                        toastr.success('Item removed');
                    },
                    error: function(xhr) {
                        toastr.error('Bad request');
                    }
                });
            });
            $( ".sortable" ).sortable();
            $( ".sortable" ).disableSelection();

            $("#save-sort-btn").on('click', function(){
                let ids = $.map($('#categories-list>li.list-group-item'), function(item) {
                    return parseInt($(item).attr('target-id'));
                });
                $.ajax({
                    url: Routing.generate('admin_category_sort'),
                    method: 'PATCH',
                    data: {'ids': ids},
                    success: function(data) {
                        toastr.success('Sort updated');
                    },
                    error: function(xhr) {
                        toastr.error('Sort unchanged');
                    }
                });
            });
        });
    </script>
{% endblock %}
