{% extends 'front.html.twig' %}
{% block title %}
    Cart
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main %}
    <div class="card">
        <div class="cart-content">
            {% if order == null %}
                <p>Your cart is empty</p>
            {% else %}
                {% for item in order.orderLines %}
                    {# @var item \AppBundle\Entity\OrderLine #}
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{{ item.dish.picture.blob }}" alt="{{ item.dish.picture.alt }}">
                        </div>
                        <!-- /.card-image -->
                        <div class="card-content">
                            <span class="card-title">{{ item.dish.name }}</span>
                            <p class="range-field col s12">
                                <label for="quantity">Quantity</label>
                                <input type="range" value="{{ item.quantity }}" id="quantity" min="1" max="10" />
                            </p>
                            <p>
                                {{ item.quantity }} * {{ item.unitPrice }}€ = {{ item.subTotal }}€
                            <p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- /.cart-content -->
        <div class="card-action">
            <button class="btn waves-effect">Order</button>
        </div>
        <!-- /.card-action -->
    </div>
    <!-- /.card -->
{% endblock %}

{% block js %}

{% endblock %}


