{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.4 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>{% block title %}
        {% endblock %}
    </title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="Guillaume OGER" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('assets/clip-one/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/fonts/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/css/main-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/plugins/iCheck/skins/all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/plugins/perfect-scrollbar/min/perfect-scrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/css/theme_light.css') }}" type="text/css" id="skin_color">
    <link rel="stylesheet" href="{{ asset('assets/clip-one/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/back.css') }}">
    {% block stylesheets %}

    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>

<div style="display: none;z-index: 1070;" class="loader-container"><div class="spinner"><div class="dot1"></div><div class="dot2"></div></div></div>
<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <!-- start: RESPONSIVE MENU TOGGLER -->
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="clip-list-2"></span>
            </button>
            <!-- end: RESPONSIVE MENU TOGGLER -->
            <!-- start: LOGO -->
            <a href="{{ path('dish_last') }}">
                <img class="menu-logo" src="{{ asset('assets/img/logo.png') }}" alt="logo">
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="navbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
                <!-- start: USER DROPDOWN -->
                <li class="dropdown current-user">
                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                        <span class="username">{{ app.user.email }}</span>
                        <i class="clip-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">
                                <i class="clip-user-2"></i>
                                &nbsp;My Profile
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="clip-exit"></i>
                                &nbsp;Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end: USER DROPDOWN -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>
<!-- end: HEADER -->
<!-- start: MAIN CONTAINER -->
<div class="main-container">
    <div class="navbar-content">
        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">
            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
                <i class="clip-chevron-left"></i>
                <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->
            <!-- start: MAIN NAVIGATION MENU -->
            {% include 'nav/admin_nav.html.twig' %}
            <!-- end: MAIN NAVIGATION MENU -->
        </div>
        <!-- end: SIDEBAR -->
    </div>
    <!-- start: PAGE -->
    <div class="main-content">
        <div class="container">
            {% block main %}

            {% endblock %}
        </div>
        <!-- /.container -->
    </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->
<!-- start: FOOTER -->
<div class="footer clearfix">
    <div class="footer-inner">
        &copy; 2019 Guillaume OGER.
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>

<!-- Modal -->
<div id="confirm-modal" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-red">Confirm</h4>
            </div>
            <div class="modal-body">
                <p id="confirm-message">Confirm, continue this action ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button id="confirm_btn" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
        </div>

    </div>
</div>
<!-- end: FOOTER -->
<!-- start: MAIN JAVASCRIPTS -->
<script src="{{ asset('assets/clip-one/plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/blockUI/jquery.blockUI.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/iCheck/jquery.icheck.min.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/less/less-1.5.0.min.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<script src="{{ asset('assets/clip-one/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
<script src="{{ asset('assets/clip-one/js/main.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{{ asset('assets/js/toastr_config.js') }}"></script>
<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<!-- end: MAIN JAVASCRIPTS -->
<script>
    $(document).ready(function() {
        let url = window.location.pathname;
        $('a[href="' + url + '"]').parents("li").addClass('active');
        /* need confirmation attribute */
        let need_confirmation = true;
        let target;
        $('table,ul').on('click', 'button[need-confirmation=true]',function(e){
            if(need_confirmation){
                target = e.target;
                e.stopImmediatePropagation();
                $('#confirm-modal').modal();
            }
        });

        $('#confirm_btn').click(function () {
            need_confirmation = false;
            $(target).click();
            need_confirmation = true;
            target = null;
        });
        Main.init();
        $(document).ajaxStart(function(){
            $(".loader-container").css("display", "flex");
        });
        $(document).ajaxComplete(function(){
            $(".loader-container").css("display", "none");
        });
        tippy('.delete-item', {
            followCursor: true,
            //arrow: true,
            animateFill: false,
            animation: 'scale',
            content: 'Delete'
        });
        tippy('.edit-item', {
            followCursor: true,
            //arrow: true,
            animateFill: false,
            animation: 'scale',
            content: 'Edit'
        });
    });
</script>

{% for flashMessage in app.session.flashbag.get('error') %}

    <script>
        $(document).ready(function() {
            toastr.error('{{ flashMessage }}');
        });
    </script>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}

    <script>
        $(document).ready(function() {
            toastr.success('{{ flashMessage }}');
        });
    </script>

{% endfor %}
{% block js %}

{% endblock %}

</body>
<!-- end: BODY -->
</html>