<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/front.css') }}">
    {% block stylesheets %}

    {% endblock %}
    <title>SUSHI SHOP - {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div style="display: none;z-index: 1070;" class="loader-container"><div class="spinner"><div class="dot1"></div><div class="dot2"></div></div></div>
<div class="row">
    <div class="navbar-fixed">
        <nav id="main-nav">
            <div class="nav-wrapper teal">
                <a href="{{ path('default_home') }}" class="brand-logo"><img style="height: 75px" src="{{ asset('assets/img/logo.png') }}" alt="logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% include 'nav/front_nav.html.twig' %}
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        {% include 'nav/front_nav.html.twig' %}
    </ul>
    <div class="col m10 s12 offset-m1">
        {% block main %}

        {% endblock %}
    </div>
    <!-- /.col m8 s12 offset-m2 -->

</div>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text footer-title">Contact us</h5>
                <p class="grey-text text-lighten-4"><i class="fa fa-envelope"></i>: <a class="email grey-text text-lighten-4" href="mailto:guillaume.oger.bstorm@gmail.be">guillaume.oger.bstorm@gmail.be</a></p>
                <hr>
                <h5 class="white-text footer-title">Address</h5>
                <p class="grey-text text-lighten-4">Rue du Bosquet, 7</p>
                <p class="grey-text text-lighten-4">1348 Louvain-la-neuve</p>
                <p class="grey-text text-lighten-4">BELGIUM</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text footer-title">Follow us</h5>
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2019 Guillaume Oger
            <a class="grey-text text-lighten-4 right" target="_blank" href="http://www.bstorm.be">www.bstorm.be</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{{ asset('assets/js/toastr_config.js') }}"></script>
<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
    $(document).ready(function(){
        let url = window.location.pathname;
        $('a[href="' + url + '"]').parents("li").addClass('active');
        $('select').formSelect();
        $('.sidenav').sidenav();
        $(document).ajaxStart(function(){
            $(".loader-container").css("display", "flex");
        });
        $(document).ajaxComplete(function(){
            $(".loader-container").css("display", "none");
        });

        tippy('.detail', {
            followCursor: true,
            //arrow: true,
            animateFill: false,
            animation: 'scale',
            content: 'Details'
        });
        tippy('.order', {
            followCursor: true,
            //arrow: true,
            animateFill: false,
            animation: 'scale',
            content: 'Order'
        });
        // Initial state
        let scrollPos = 0;
        // adding scroll event
        window.addEventListener('scroll', function(){
            // detects new state and compares it with the new one
            if ((document.body.getBoundingClientRect()).top > scrollPos){
                $("#main-nav").addClass("open");
                $("#main-nav").removeClass("close");
            }
            else{
                $("#main-nav").addClass("close");
                $("#main-nav").removeClass("open");
            }
            scrollPos = (document.body.getBoundingClientRect()).top;
        });
    });
</script>
{% for flashMessage in app.session.flashbag.get('error') %}

    <script>
        $(document).ready(function() {
            toastr.error('{{ flashMessage }}');
        });
    </script>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}

    <script>
        $(document).ready(function() {
            toastr.success('{{ flashMessage }}');
        });
    </script>

{% endfor %}
{% block js %}

{% endblock %}

</body>
</html>