<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    {% block stylesheets %}
        
    {% endblock %}
<title>SUSHI SHOP - {% block title %}

    {% endblock %}
</title>
</head>
<body>
<div class="row">
    <div class="logo-wrapper">
        <a href="{{ path('default_home') }}">
            <img id="logo" src="{{ asset('assets/img/logo.png') }}" alt="logo">
        </a>
    </div>
    {% block main %}
        
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{{ asset('assets/js/toastr_config.js') }}"></script>
{% block js %}
    
{% endblock %}

</body>
</html>