{% extends "front.html.twig" %}
{% import 'form/materialize_layout.html.twig' as forms %}
{% block main %}
    <div style="margin-top: 20px">
        <div class="row">
            <div class="col s12">
                {{ form_start(form) }}
                {{ forms.materialize(form.email, false, is_granted("ROLE_CUSTOMER")) }}
                {{ forms.materialize(form.object, false) }}
                {{ forms.materialize(form.content) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn waves-effect">Envoyer</button>
                {{ form_end(form) }}
            </div>
            <!-- /.col s12 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}