<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUSHI SHOP - Home</title>
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
</head>
<body>
<a href="{{ path('dish_last') }}">
    <button class="btn">Enter Site</button>
</a>
</body>
</html>