{% extends "back.html.twig" %}
{% block main %}
    <div class="padding-top">
        <div class="panel panel-default">
            <div class="panel-heading">Users</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                <table id="users_table">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Email Verified</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# @var users \AppBundle\Entity\User[] #}
                    {% for item in users %}
                        <tr>
                            <td>{{ item.email }}</td>
                            <td>
                                {% if item.role == "ROLE_SA" %}
                                    <select target-id="{{ item.id }}" disabled class="form-control user_role ">
                                        <option value="SUPER_ADMIN">
                                            Super Admin
                                        </option>
                                    </select>
                                {% else %}
                                    <select target-id="{{ item.id }}" {{ item.id == app.user.id ? "disabled" : "" }} class="user_role form-control">
                                        <option {{ item.role == "ROLE_ADMIN" ? "SELECTED" : "" }} value="ROLE_ADMIN">Administrator</option>
                                        <option {{ item.role == "ROLE_EMPLOYEE" ? "SELECTED" : "" }} value="ROLE_EMPLOYEE">Employee</option>
                                        <option {{ item.role == "ROLE_CUSTOMER" ? "SELECTED" : "" }} value="ROLE_CUSTOMER">Customer</option>
                                    </select>
                                {% endif %}
                            </td>
                            <td><input target-id="{{ item.id }}" class="email-checked" type="checkbox" {{ item.emailVerified ? "checked" : "" }} {{ (item.role == "ROLE_SA") or (item.id == app.user.id) ? "disabled" : "" }}></td>
                            <td><input target-id="{{ item.id }}" class="is-active" type="checkbox" {{ item.active ? "checked" : "" }} {{ (item.role == "ROLE_SA") or (item.id == app.user.id) ? "disabled" : "" }}></td>
                            <td><button need-confirmation="true" class="btn btn-danger delete-item btn-xs" target-id="{{ item.id }}" {{ (item.role == "ROLE_SA") or (item.id == app.user.id) ? "disabled" : "" }}><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel panel-default -->
    </div>
    <!-- /.padding-top -->
{% endblock %}
{% block js %}
    <script>
        $(function(){

            let dt = $('#users_table').DataTable();
            $('#users_table').on('click', '.delete-item', function(e) {
                let button = $(this);
                $.ajax({
                    url: Routing.generate('admin_user_delete', {'id':$(this).attr('target-id')}),
                    method: 'DELETE',
                    success: function(data) {
                        dt.row(button.parents('tr'))
                            .remove()
                            .draw();
                        toastr.success('User removed');
                    },
                    error: function(xhr) {
                        toastr.error('Bad request');
                    }
                });
            });

            $('#users_table').on('change', '.is-active', function(e) {
                let input = $(this);
                $.ajax({
                    url: Routing.generate('admin_user_active', {'id':$(this).attr('target-id')}),
                    method: 'PATCH',
                    success: function(data) {
                        input.prop('checked', data);
                        toastr.success('User Updated');
                    },
                    error: function(xhr) {
                        console.log(xhr.responseJSON);
                        input.prop('checked', xhr.responseJSON);
                        toastr.error('Bad request');
                    }
                });
            });

            $('#users_table').on('change', '.email-checked', function(e) {
                let input = $(this);
                $.ajax({
                    url: Routing.generate('admin_user_email_checked', {'id':$(this).attr('target-id')}),
                    method: 'PATCH',
                    success: function(data) {
                        input.prop('checked', data);
                        toastr.success('User Updated');
                    },
                    error: function(xhr) {
                        input.prop('checked', xhr.responseJSON);
                        toastr.error('Bad request');
                    }
                });
            });

            $('#users_table').on('change', '.user_role', function(e) {
                let select = $(this);
                $.ajax({
                    url: Routing.generate('admin_user_role', {'id':select.attr('target-id')}),
                    method: 'PATCH',
                    data: {'role': select.val()},
                    success: function(data) {
                        select.val(data);
                        toastr.success('User Updated');
                    },
                    error: function(xhr) {
                        select.val(xhr.responseJSON);
                        toastr.error('Bad request');
                    }
                });
            });
        });
    </script>
{% endblock %}
