{% extends "login-register.html.twig" %}

{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/user/login.css') }}">
{% endblock %}

{% block main %}
    <form method="post" action="{{ path('login_check') }}" class="col s12">
        <div class="card col s12 m6 offset-m3">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" name="_username" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="_password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn btn-block waves-effect" name="_s">
                            <i class="material-icons right">send</i>
                            LOGIN
                        </button>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col s12">
                        <a href="{{ path('register') }}">
                            <button type="button" class="btn btn-block waves-effect">
                                <i class="material-icons right">person_add</i>
                                REGISTER
                            </button>
                        </a>
                    </div>
                    <!-- /.col s12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-content -->
        </div>
        <!-- /.card -->
    </form>
{% endblock %}
{% block js %}
    {% if error != null %}
        <script>
            $(document).ready(function(){
                toastr.error("{{ error.message }}");
            });
        </script>
    {% endif %}
{% endblock %}

