{% extends "login-register.html.twig" %}
{% import 'form/materialize_layout.html.twig' as forms %}
{% block title %}
    Register
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/user/login.css') }}">
{% endblock %}
{% block main %}
    <div class="card col m6 s12 offset-m3">
        <!-- /.card-title -->
        <div class="card-content">
            <span class="card-title">Register</span>
            {{ form_start(form) }}
            {{ forms.materialize(form.email) }}
            {{ forms.materialize(form.plainPassword.first) }}
            {{ forms.materialize(form.plainPassword.second) }}
            {{ forms.materialize(form.addressLine) }}
            {{ forms.materialize(form.zipCode) }}
            {{ forms.materialize(form.city) }}
            <div class="row">
                <div class="col s12">
                <label>
                    {{ form_widget(form.acceptDisclaimer) }}
                    <span>Accept <a target="_blank" href="{{ path('default_disclaimer') }}">Terms and Conditions</a></span>

                </label>
                {{ form_errors(form.acceptDisclaimer) }}
                </div>
                <!-- /.col s12 -->
            </div>
            <!-- /.row -->
            {{ form_rest(form) }}
            <div class="row">
                <div class="s12">
                    <button class="btn btn-block">
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                </div>
                <!-- /.s12 -->
            </div>
            <div class="row">
                <div class="s12">
                    <a href="{{ path('login') }}">
                        <button type="button" class="btn btn-block">
                            <i class="material-icons right">verified_user</i>
                            LOGIN
                        </button>
                    </a>
                </div>
                <!-- /.s12 -->
            </div>
            <!-- /.row -->
            {{ form_end(form) }}
        </div>
        <!-- /.card-content -->
    </div>
    <!-- /.card -->
{% endblock %}
{% block js %}

{% endblock %}




