<div id="add_to_cart_modal" class="modal">
    <div class="modal-content">
        <h4>Add To Cart</h4>
        <div class="row">
            <div id="chosen_dish" class="col s12 m6">

            </div>
            <p class="range-field col s12 m6">
                <label for="quantity">Quantity</label>
                <input type="range" value="1" id="quantity" min="1" max="10" />
            </p>
        </div>
        <div class="row">
            <div class="col s12">
                <p>Total: <span id="factor">1</span> x <span id="unitPrice"></span>€ = <span id="total"></span>€</p>
            </div>
            <!-- /.col s12 -->
        </div>
        <!-- /.row -->
    </div>
    <div class="modal-footer">
        <button class="btn red modal-close waves-effect">
            Cancel
        </button>
        <button class="btn waves-effect" id="add_to_cart_button">
            <i class="material-icons">add_shopping_cart</i>
        </button>
    </div>
</div>