{% extends "front.html.twig" %}
{% import 'form/materialize_layout.html.twig' as forms %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/rating.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}



{% block main %}
    <div class="row" id="results" style="padding-top: 20px">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="{{ dish.picture.blob }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ dish.name }}</span>
                    {% if dish.discount == 0 %}
                        <p>{{ dish.priceInclTax }}€</p>
                    {% else %}
                        <p>
                            <span style="text-decoration: line-through">{{ dish.priceInclTax }}€</span>
                            &nbsp;
                            <span style="color: red">{{ dish.discountPrice }}€</span>
                        </p>
                    {% endif %}
                    <!-- Add icon library -->
                    {% if dish.comments | length > 0 %}
                        <p>
                            <span class="rating" data-rating="{{ dish.averageRating }}"></span>
                            <span>({{ dish.averageRating | round(1) }})</span>
                            <span>{{ dish.comments | length }} rating(s)</span>
                        </p>
                    {% else %}
                        <p>No rating yet</p>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_CUSTOMER') %}
                    <div class="card-action text-teal" style="text-align: center">
                        <a class="add_to_cart" target-price="{{ dish.discountPrice }}" target-id="{{ dish.id }}"><i class="material-icons text-teal" style="font-size: 50px">add_shopping_cart</i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_CUSTOMER') %}
        <div class="row" style="padding-top: 20px">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add Comment</span>
                    {{ form_start(form) }}
                    <span style="color: #9e9e9e">Rate this dish</span><div id="input-rating"></div>
                    {{ forms.materialize(form.content) }}
                    {{ form_errors(form.rating) }}
                    {{ form_rest(form) }}
                    <button class="btn waves-effect">Send</button>
                    {{ form_end(form) }}
                </div>
                <!-- /.card-content -->

            </div>
        </div>
    {% endif %}
    {% if dish.comments | length > 0 %}


    <div class="row" style="padding-top: 20px">
        <ul class="collection">

            {% for item in dish.comments %}
                {# @var item \AppBundle\Entity\Comment #}
                <li class="collection-item">
                    <div class="row">
                        <div class="rating" data-rating="{{ item.rating }}"></div>
                    </div>
                    <!-- /.row -->
                    <span class="title">{{ item.user.email }} : {{ item.date | date('d/m/Y') }}</span>
                    <p>{{ item.content }}</p>
                </li>
            {% endfor %}
        </ul>

    </div>
    {% endif %}
    <!-- /.row -->
    {% include ':dish:add_to_cart_modal.html.twig' %}
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/js/rating.min.js') }}"></script>
    <script src="{{ asset('assets/js/add_to_cart.js') }}"></script>
    <script>
        $(function(){
            $(".rating").starRating({
                readOnly: true,
                starSize: 25
            });
            $("#input-rating").starRating({
                initialRating: 2.5,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    $("#appbundle_comment_rating").val(currentRating);
                }
            });
        });
    </script>
{% endblock %}


