<div class="card horizontal">
    <div class="card-image">
        <img src="{{ dish.picture.blob }}" alt="{{ dish.picture.alt }}">
    </div>
    <!-- /.card-image -->
    <div class="card-content">
        <p>{{ dish.name }}</p>
        {% if dish.discount == 0 %}
            <p id="dish-price">{{ dish.priceInclTax }}€</p>
        {% else %}
            <p>
                <span style="text-decoration: line-through">{{ dish.priceInclTax }}€</span>
                &nbsp
                <span id="dish-price" style="color: red">{{ dish.discountPrice }}€</span>
            </p>
        {% endif %}
    </div>
    <!-- /.card-content -->
</div>