{% extends "back.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/croppie.css') }}">
{% endblock %}

{% block main %}
    <div class="padding-top">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Dish
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="col-md-12">{{ form_row(form.name) }}</div>
                <!-- /.col-md-12 -->
                <div class="col-md-6">
                    {{ form_label(form.picture) }}
                    <div class="form-group">
                        <input type="file" id="file-input">
                    </div>
                    <!-- /.form-group -->
                    {{ form_widget(form.picture) }}
                    {{ form_errors(form.picture) }}
                </div>
                <div class="img-wrapper col-md-6 text-center">
                    {% if dish.picture == null %}
                        <img style="height: 100px; width: 150px" src="{{ asset('assets/img/default.png') }}" alt="default image">
                    {% else %}
                        <img style="height: 100px; width: 150px" src="{{ dish.picture.blob }}" alt="{{ dish.picture.alt }}">
                    {% endif %}
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-12">
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- /.panel-content -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.padding-top -->
        <div id="cropModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Crop Picture</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="cropper" class="col-md-12 text-center">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="save-pic">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/js/croppie.js') }}"></script>
    <script>
        $(function(){
            let fileInput  = document.querySelector( "#file-input" );
            let el = document.getElementById('cropper');
            let $profilePicPreview = new Croppie( el ,{
                viewport: {
                    width: 150,
                    height: 100
                },
                boundary: {
                    width: 250,
                    height: 200
                },
                enableExif: true
            });

            let file;
            fileInput.addEventListener( "change", function( event ) {
                $("#cropModal").modal();
                file = this;
            });

            $("#cropModal").on('shown.bs.modal', function () {
                if (file.files && file.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $profilePicPreview.bind({
                            url: e.target.result
                        });
                    };
                    reader.readAsDataURL(file.files[0]);
                }
            });

            $("#save-pic").click(function() {
                $profilePicPreview.result('blob').then(function (blob) {
                    let blobUrl = URL.createObjectURL(blob);
                    $("#cropModal").modal('hide');
                    $(".img-wrapper img").attr('src', blobUrl);
                    const reader = new FileReader();

                    reader.addEventListener('loadend', (e) => {
                        const text = e.target.result;
                        console.log(text);
                        $('#appbundle_dish_picture_blob').val(text);
                    });

                    reader.readAsDataURL(blob);

                });
            });
        });
    </script>
{% endblock %}

