{% extends "front.html.twig" %}
{% import 'form/materialize_layout.html.twig' as forms %}
{% block main %}
    <div style="margin-top: 20px">
        <div class="row">
            <div class="col s12">
                {{ form_start(form) }}
                {{ forms.materialize(form.name, false) }}
                {{ forms.materialize(form.categories) }}
                <div class="row">
                    <div class="col m6">
                        <label>
                            {{ form_widget(form.onDiscount) }}
                            <span>On Discount</span>
                        </label>
                    </div>
                    <div class="col m6">
                        <label>
                            {{ form_widget(form.highlighted) }}
                            <span>Is Hightlighted</span>
                        </label>
                    </div>
                    <!-- /.col s12 -->
                </div>
                {{ form_rest(form) }}
                <button id="search-btn" type="submit" class="btn waves-effect">Search</button>
                {{ form_end(form) }}
            </div>
            <!-- /.col s12 -->
        </div>
        <!-- /.row -->
        <div id="results">
            {% include ':dish:list.html.twig' %}
        </div>
    </div>
    {% include ':dish:add_to_cart_modal.html.twig' %}
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/js/add_to_cart.js') }}"></script>
    <script>
        $(function(){
            $('#search-btn').click(function(e){
                e.preventDefault();
                let form = $(this).parents('form');
                $.ajax({
                    url: Routing.generate('dish_filter_ajax'),
                    data: form.serialize(),
                    method: 'POST',
                    dataType: 'JSON',
                    success: function(data){
                        $("#results").html(data.results);
                    }
                });
            });
        });
    </script>
{% endblock %}

