{% extends "back.html.twig" %}
{% block main %}
<div class="padding-top">
    <div class="panel panel-default">
        <div class="panel-heading">All Dishes</div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row" style="padding-bottom: 20px">
                <div class="col-md-12">
                    <a href="{{ path('admin_dish_edit') }}">
                        <button class="btn btn-default">Add</button>
                    </a>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
            <div class="table-responsive">
            <table id="dishes_table" class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for item in dishes %}
                    <tr class="{{ item.active ? '' : 'danger' }}">
                        <td><img style="height: 50px" src="{{ item.picture.blob }}" alt="{{ item.picture.alt }}"></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.priceInclTax }}€</td>
                        <td>{{ item.discount }}%</td>
                        <th>
                            <button class="btn btn-danger delete-item btn-xs" need-confirmation="true" target-id="{{ item.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <a href="{{ path('admin_dish_edit', {'id':item.id}) }}">
                                <button class="btn btn-info edit-item btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        $(function(){
            let dt = $('#dishes_table').DataTable();
            $('#dishes_table').on('click', '.delete-item', function(e) {
                let button = $(this);
                $.ajax({
                    url: Routing.generate('admin_dish_delete', {'id':$(this).attr('target-id')}),
                    method: 'DELETE',
                    success: function(data) {
                        dt.row(button.parents('tr'))
                            .remove()
                            .draw();
                        toastr.success('Item removed');
                    },
                    error: function(xhr) {
                        toastr.error('Bad request');
                    }
                });
            });
        });
    </script>

{% endblock %}


