{% extends "front.html.twig" %}
{% block main %}
    <div id="results" style="margin-top: 20px">
        {% include ':dish:list.html.twig' %}
    </div>
    {% include 'dish/add_to_cart_modal.html.twig' %}
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/js/add_to_cart.js') }}"></script>
{% endblock %}



