{# @var dishes \AppBundle\Entity\Dish[] #}
{% set cat = null %}
{% set index = 0 %}
{% for item in dishes %}
    {% if cat != item.category.name %}
        {% set cat = item.category.name %}
        {% set index = 0 %}
    {% endif %}
    {% if index % 4 == 0 %}
        <div class="row">
        {% if index == 0 %}
            <h4 style="color: teal; text-decoration: underline">{{ cat }}</h4>
        {% endif %}
    {% endif %}
    <div class="col s12 m3">
        <div class="card">
            <a href="{{ path('detail_dish', {'id': item.id}) }}">
            <div style="position:relative"  class="card-dish detail">
                <div class="card-image" style="padding: 5px">
                    <img src="{{ item.picture.blob }}" alt="{{ item.picture.alt }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ item.name }}</span>
                    {% if item.discount == 0 %}
                        <p>{{ item.priceInclTax }}€</p>
                    {% else %}
                        <p>
                            <span style="text-decoration: line-through">{{ item.priceInclTax }}€</span>
                            &nbsp;
                            <span style="color: red">{{ item.discountPrice }}€</span>
                        </p>
                    {% endif %}
                </div>
                <i class="material-icons text-teal hover" style="position: absolute;top:calc(50% - 25px);left: calc(50% - 25px);font-size: 50px">search</i>
            </div>
            </a>
            {% if is_granted('ROLE_CUSTOMER') %}
            <div class="card-action text-teal" style="text-align: center">
                <a class="order add_to_cart" target-price="{{ item.discountPrice }}" target-id="{{ item.id }}"><i class="material-icons text-teal" style="display:block;font-size: 50px">add_shopping_cart</i></a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /.col m4 -->
    {% if index % 4 == 3 or loop.last or item.category.name != dishes[loop.index].category.name %}
        </div>
    {% endif %}
    {% set index = index + 1 %}
{% endfor %}