<ul class="main-navigation-menu">
    <li>
        <a href="javascript:void(0)">
            <i class="clip-cart"></i>
            <span class="title"> Dishes </span>
            <i class="icon-arrow"></i>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{{ path('admin_dish_index') }}">
                    <span class="title"> All Dishes </span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_dish_edit') }}">
                    <span class="title"> Add Dish </span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path('admin_category_index') }}">
            <i class="clip-tag"></i>
            <span class="title"> Categories </span>
        </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('admin_user_index') }}">
                <i class="clip-user"></i>
                <span class="title"> Users </span>
            </a>
        </li>
    {% endif %}

</ul>