<li><a href="{{ path('dish_last') }}"><i class="material-icons left">fiber_new</i>Recently Added</a></li>
<li><a href="{{ path('dish_filter') }}"><i class="material-icons left">search</i>Search</a></li>
<li><a href="{{ path('default_contact') }}"><i class="material-icons left">message</i>Contact</a></li>
{% if app.user is null %}
    <li><a href="{{ path('login') }}"><i class="material-icons left">verified_user</i>Login</a></li>
    <li><a href="{{ path('register') }}"><i class="material-icons left">person_add</i>Register</a></li>
{% else %}
    <li><a href="{{ path('order_index') }}"><i class="material-icons left">shopping_cart</i>Cart</a></li>
    {% if is_granted('ROLE_EMPLOYEE') %}
        <li><a href="{{ path('admin_dish_index') }}"><i class="material-icons left">build</i>Admin</a></li>
    {% endif %}
    <li><a href="{{ path('logout') }}"><i class="material-icons left">exit_to_app</i>Logout</a></li>
{% endif %}